* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bgcolor: #F5EDD8;
  --header-bgcolor: var(--body-bgcolor);

  --header-height: 60px;
}

main {
  padding-top: var(--header-height);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--body-bgcolor);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button, 
input {
  font: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: var(--header-height);
  transition: transform 0.3s ease;
  z-index: 1000;
  background: var(--header-bgcolor);
}

.header.show {
  transform: translateY(0);
}

.header.hide {
  transform: translateY(-100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 5%;
  font-size: 28px;
  font-weight: 700;
}

.nav-list {
  padding-right: 5%;
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-list a {
  transition: 0.3s;
}

.nav-list a:hover {
  color: #D4855A;
}